### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases_df = pd.read_csv(file_to_load)

purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [15]:
p_count = len(purchases_df["SN"].unique())

p_count_df = pd.DataFrame({"Player Count":[p_count]}) 

p_count_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Total Number of Purchases
#Total Revenue

unique_items = len(purchases_df["Item Name"].unique())
avg_price =  purchases_df["Price"].mean()
purch_tot = purchases_df["Price"].sum()
purch_num = len(purchases_df["Purchase ID"].unique())

summ_df = pd.DataFrame({"Item Name":[unique_items], 
                   "Average Price":[avg_price],
                        "Total Revenue":[purch_tot],
                        "Total Number of Purchases":[purch_num]})

summ_df.round({"Average Price":2})

   Item Name  Average Price  Total Revenue  Total Number of Purchases
0        179           3.05        2379.77                        780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
unique_df = purchases_df.drop_duplicates(subset="SN")

gender_df = unique_df["Gender"].value_counts()

male_num = gender_df.iloc[0]
female_num = gender_df.iloc[1]
undisc_num = gender_df.iloc[2]

male_pct = round((gender_df.iloc[0]/p_count)*100,1)
female_pct = round((gender_df.iloc[1]/p_count)*100,1)
undisc_pct = round((gender_df.iloc[2]/p_count)*100,1)

summ_gender = pd.DataFrame({"Gender":["Male", "Female","Undisclosed"],
                            "Counts":[male_num,female_num,undisc_num],
                            "Percent %":['{:,.2f}%'.format(male_pct),'{:,.2f}%'.format(female_pct),'{:,.2f}%'.format(undisc_pct)]})


summ_gender.set_index("Gender")

             Counts Percent %
Gender
Male            484    84.00%
Female           81    14.10%
Undisclosed      11     1.90%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
gen_counts = purchases_df["Gender"].value_counts()

#purchase counts
male_pcount = gen_counts.iloc[0]
female_pcount = gen_counts.iloc[1]
undisc_pcount = gen_counts.iloc[2]

# Total spent by gender
total_purch = purchases_df.groupby(['Gender']).sum()

male_tot_price = round(total_purch.iloc[1,3],2)
female_tot_price = round(total_purch.iloc[0,3],2)
undisc_tot_price = round(total_purch.iloc[2,3],2)

# Average by gender

male_avg = round((male_tot_price/male_pcount),2)
female_avg = round((female_tot_price/female_pcount),2)
undisc_avg = round((undisc_tot_price/undisc_pcount),2)


#Average by individual by gender

male_ind_avg = round((male_tot_price/male_num),2)
fem_ind_avg = round((female_tot_price/female_num),2)
undisc_ind_avg = round((undisc_tot_price/undisc_num),2)


summ_gender_price = pd.DataFrame({"Gender":["Male", "Female","Undisclosed"],
                            "Purchase Counts":[male_pcount,female_pcount,undisc_pcount],
                            "Average Purchase Price":['${:,.2f}'.format(male_avg),'${:,.2f}'.format(female_avg),'${:,.2f}'.format(undisc_avg)],
                            "Total Purchase Value":['${:,.2f}'.format(male_tot_price),'${:,.2f}'.format(female_tot_price),'${:,.2f}'.format(undisc_tot_price)],
                            "Avg Purchase Per Person":['${:,.2f}'.format(male_ind_avg),'${:,.2f}'.format(fem_ind_avg),'${:,.2f}'.format(undisc_ind_avg)]})
summ_gender_price

,Gender,Purchase Counts,Average Purchase Price,Total Purchase Value,Avg Purchase Per Person
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Undisclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [83]:
bins = [0, 17, 29, 49, 64, 100]

# Create the names for the four bins
group_names = ["0-17", "18-29", "30-49", "50-64", "65+"]


unique_df["Age Ranges"] = pd.cut(unique_df["Age"], bins, labels=group_names)
unique_df

C:\Users\jak12\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Ages,Age Ranges,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,18-29,18-29,18-29
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30-49,30-49,30-49
2,2,Ithergue48,24,Male,92,Final Critic,4.88,18-29,18-29,18-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,18-29,18-29,18-29
4,4,Iskosia90,23,Male,131,Fury,1.44,18-29,18-29,18-29
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,18-29,18-29,18-29
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,30-49,30-49,30-49
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,18-29,18-29,18-29
8,8,Undjask33,22,Male,21,Souleater,1.10,18-29,18-29,18-29
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30-49,30-49,30-49
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,18-29,18-29,18-29
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,18-29,18-29,18-29
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,18-29,18-29,18-29
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,18-29,18-29,18-29
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,30-49,30-49,30-49
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,18-29,18-29,18-29
16,16,Lisirra25,20,Male,40,Second Chance,2.52,18-29,18-29,18-29
17,17,Zontibe81,21,Male,161,Devine,1.76,18-29,18-29,18-29
18,18,Reunasu60,22,Female,82,Nirvana,4.90,18-29,18-29,18-29
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-49,30-49,30-49
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,18-29,18-29,18-29
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,18-29,18-29,18-29
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,30-49,30-49,30-49
23,23,Eyrian71,40,Male,151,Severance,3.40,30-49,30-49,30-49
24,24,Siala43,30,Male,141,Persuasion,3.19,30-49,30-49,30-49
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,18-29,18-29,18-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,0-17,0-17,0-17
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,0-17,0-17,0-17
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,18-29,18-29,18-29
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,18-29,18-29,18-29
...,...,...,...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,30-49,30-49,30-49
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18,18-29,18-29,18-29
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-49,30-49,30-49
731,731,Eudanu84,22,Female,12,Dawne,1.02,18-29,18-29,18-29
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,18-29,18-29,18-29
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,18-29,18-29,18-29
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,18-29,18-29,18-29
738,738,Eusur90,36,Male,121,Massacre,1.60,30-49,30-49,30-49
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87,30-49,30-49,30-49
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,18-29,18-29,18-29
742,742,Isty55,20,Male,5,Putrid Fan,4.08,18-29,18-29,18-29
743,743,Frichilsa31,15,Male,110,Suspension,1.44,0-17,0-17,0-17
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,30-49,30-49,30-49
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,18-29,18-29,18-29
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,18-29,18-29,18-29
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,18-29,18-29,18-29
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,0-17,0-17,0-17
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,0-17,0-17,0-17
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-49,30-49,30-49
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,18-29,18-29,18-29
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,18-29,18-29,18-29
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,30-49,30-49,30-49
765,765,Irith83,18,Male,130,Alpha,2.07,18-29,18-29,18-29
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,0-17,0-17,0-17
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,0-17,0-17,0-17
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,18-29,18-29,18-29
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,0-17,0-17,0-17
775,775,Aethedru70,21,Female,60,Wolf,3.54,18-29,18-29,18-29
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,18-29,18-29,18-29
778,778,Sisur91,7,Male,101,Final Critic,4.19,0-17,0-17,0-17

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80